           {{>_header}}

<div class="container-fluid my-4">
        <h5 class="text-center">Edit story</h5>
 <form action="/story/{{story._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
     <div class="form-group">
         <label for="title">Story Title</label>
         <input type="text" name="title" class="form-control" id="post" value="{{story.title}}">
     </div>
     <div class="form-group">
         <label for="image">Upload Image</label>
         <input type="file" name="image" value="{{story.image}}" >
     </div>
    <div class="form-group">
         <label for="details">Story Details</label>
         <textarea name="details" class="form-control" rows="10" id="editor">{{story.details}}</textarea>
     </div>
     
     <div class="custom-control custom-switch">
         <input type="checkbox" class="custom-control-input" id="switch" checked="checked" name="allowComment" value="{{story.allowComment}}" >
        {{#if user.isAdmin}}
         <label class="custom-control-label" for="switch"> AllowComment</label>
     </div><br>
     {{/if}}
     <div class="form-group">
         <button class="btn btn-danger">Update Story</button>
     </div>
    </form>
</div>


<style>
    #post{
        background: ghostwhite;
    }
    label{
        font-size:1.2em;
        
    }
</style>
