<div class="container-fluid mb-4 bg-primary p-4" >
    <h5 class=" dash text-center text-white ">Trust.com Admin Dashboard</h5>
    <ul class="nav d-flex justify-content-center mt-4" id="adnav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
         <li class="nav-item ">
            <a class="nav-link" href="/banner/adhome">Banners</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/banner/add">Add banner</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
           
    </ul>
  
</div>
     {{>_msg}}
<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <p class="text-center">Site info</p>
            <p>Total number of stories:  <span class="count text-danger">{{storyCount}} </span></p>
              <p>Total number of users: <span class="count text-danger">{{userCount}} </span> </p>
        </div>
         <div class="col-sm-6">
            <p class="text-center">Date: {{formatDate date "Do dddd MMMM, YYYY   h:mm "}}</p>
        </div>
    </div>
</div>

<div class="container-fluid mb-5" id="stor">
    <h5 class="text-center">Stories</h5>
   <div class="row">
       <div class="col-sm-8">
           <div class="card">
             {{#each stories}}
           <div class="card-body border">
        <a href="/admin/only/story/{{_id}}"><h5 class="card-title">{{title}}</h5></a>
         <div class="container d-flex justify-content-between">
        <a href="/delete/story/{{_id}}" class="del bg-danger">Delete story <i class="fa fa-trash"></i></a>
         <a href="/edit/story/{{_id}}" class="del bg-danger">Edit story <i class="fa fa-edit"></i></a>
      {{user.username}}
         </div>
           </div>
           {{/each}}
       </div>
       <ul class="nav d-flex justify-content-between">
           {{#if startIndex}}
           <li class="nav-item">
               <a class="nav-link" href="?page={{startIndex}}" class=""><i class="fa fa-angle-double-left"  id="nex"> Previous</i></a>
           </li>
           {{/if}}
           {{#if nextIndex}}
            <li class="nav-item">
               <a class="nav-link" href="?page={{nextIndex}}" id="nex">Next <i class="fa fa-angle-double-right"> </i></a>
           </li>
           {{/if}}
       </ul>
       </div>
       <div class="col-sm-4 text-center">
           <a href="/add" id="" class="addo bg-primary"> Create story <i class="fa fa-plus"></i></a>
       </div>
   </div>
</div>

<div class="container-fluid my-4 border">
    <h5 class="text-center mt-2">Users</h5>
    <div class="row">
        <div class="col-sm-6">
            <p class="adm text-center">Admins</p>
              <div class="card">
             {{#each users}}
           <div class="card-body border text-center">
       <h5 class="card-title">Username: <a href="/user/{{_id}}/{{username}}">{{username}}</a></h5>
         <h5 class="card-title">Admin: {{isAdmin}}</h5>

         <div class="container d-flex justify-content-between">
         <a href="/update/user/{{_id}}" class="del bg-danger">Update admin <i class="fa fa-edit"></i></a>
         </div>
           </div>
           {{/each}}
       </div>
        </div>
        <div class="col-sm-6">
           <p class="text-center"> Search user </p>
             <form action="/admin/search_user" method="GET" id="">
    <div class="input-group">
        <input type="text" class="form-control " name="query" id="searchText" placeholder="search user...">
        <div class="input-group-append">
            <button class="btn btn-danger" id="up">Search</button>
        </div>
    </div>
    </form>
      <div class="card mt-3">
             {{#each search}}
           <div class="card-body border text-center">
       <h5 class="card-title">Username: <a href="/user/{{_id}}/{{username}}">{{username}}</a></h5>
         <h5 class="card-title">Admin: {{isAdmin}}</h5>

         <div class="container d-flex justify-content-between">
        <a href="/admin/delete/user/{{_id}}" class="del bg-danger">Delete user <i class="fa fa-trash"></i></a>
         <a href="/update/user/{{_id}}" class="del bg-danger">Update user <i class="fa fa-edit"></i></a>
         </div>
           </div>
           {{/each}}
       </div>
        </div>
    </div>
</div>



<style>
    .addo{
        font-weight: 2em;
        padding: 15px;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: none;
        box-shadow: 0px 2px 2px grey;
        border-radius: 10px;
    }
    .addo:hover{
        color:white;
        text-decoration: none;
    }
    .del{
        text-decoration: none;
        color: white;
        padding:10px;
        border-radius: 10px;
        font-weight: bold;
        
    }
    .del:hover{
        color: white;
        text-decoration: none;
    }
    .fa{
        font-weight:bold
    }
    #nex{
        font-size: 1.1em;
        font-weight: bold;
    }
   
    .dash{
        font-weight: bold;
    }
    #adnav a{
           color:white;
           font-weight: bold;
           font-size: 1.2em;
    }
    
</style>