                    {{>_header}}

<div class="container-fluid my-4 text-center">
<div class="row">
<div class="col-sm-6">
<div class="card">
<div class="card-header bg-danger text-white">
<h5>Profile</h5>

</div>

{{#each users}}
 <p class="card-title">Email: {{email}}</p>
 <p class="card-title">Username: {{username}}</p>
  <p class="card-title">Gender: {{gender}}</p>
  <p class="card-title">Registered Date: {{formatDate date "MMM D YYYY"}}</p>

{{/each}}
</div>
</div>
<div class="col-sm-6">

<div class="card">
<div class="card-header bg-danger text-white">
<h5>All stories</h5>
</div>
{{#if stories}}
{{#each stories}}
<div class="card-body">
<a href="/story/{{_id}}"><h5 class="card-title">{{title}}</h5></a>
       <span> by <span class="text-danger"><a href="/user/{{user._id}}" class="text-danger">{{user.username}}.</a> </span>{{comments.length}} comment & {{views}} views.</span>                    

</div>
{{/each}}
{{ else}}
<p>No story yet</p>
{{/if}}
</div>
</div>

</div>